@import url('reset.css');
@import url('common.css');

.sub-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}

/* 헤더 */
.gnb{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
    box-sizing: border-box;
    justify-content: space-between;
}
.gnb .xi-bars{
    display: none;
}
.menu-list{
    font-weight: 500;
    margin-right: 60px;
}
.menu-list li+li{
    margin-left: 60px;
}
.search-form{
    margin-right: 30px;
}
.search-form input{
    width: 150px;
    border: 1px solid #dddddd;
    font-size: 13px;
    padding: 6px 10px;
    border-radius: 25px;
    box-sizing: initial;
}
.search-form .search{
    position: relative;
}
.search-form a{
    position: absolute;
    top: 9px;
    right: 10px;
}
.member li{
    font-size: 0.750rem;
    color: #999;
    font-weight: 300;
}
.member li:last-child{
    margin-left: 15px;
}

/* 메인 이미지 */
.main-slide a{
    position: relative;
    display: block;
}
.swiper-slide a:hover{
    color: #111;
}
.main-slide a .con-box{

}
.main-slide .main-mo{
    display: none;
}
.main-slide a .con-box::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 30%, rgba(0, 0, 0, 0) 70%);
    position: absolute;
}
.main-slide a .con-box .text-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1200px;
    padding: 0 15px;
    color: #fff;
}
.swiper-slide .text-wrap .small-tit{
    font-size: 1.125rem;
    background: rgba(0,0,0,0.4);
    padding: 3px 10px;
    font-weight: 300;
}
.swiper-slide .text-wrap p{
    font-size: 2rem;
    line-height: 3.250rem;
    letter-spacing: -2px;
    padding-top: 30px;
}
.swiper-slide .text-wrap p span{
    font-size: 3rem;
}

/* 마루선택가이드 */
.select_guide .content{
    background: #f2f2f2;
    padding: 25px 0;
}
.select_guide .xi-info{
    color: green;
    font-size: 1.375rem;
    padding-right: 5px;
}
.select_guide .content h2{
    margin-left: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    color: green;
    text-decoration: underline;
}

/* 제품찾기 */
.product .pd_box{
    padding: 100px 50px;
    border-radius: 30px;
    margin: 15px;    
}
.product h2{
    padding-bottom: 65px;
}
.product .pd_list h3{
    text-align: center;
    font-size: 1.250rem;
}
.product .pd_bg1{
    background: url('../img/product01.jpg');
}
.product .pd_bg2{
    background: url('../img/product02.jpg');
}
.product .pd_bg3{
    background: url('../img/product03.jpg');
}
.product .pd_bg4{
    background: url('../img/product04.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.product .pd_bg5{
    background: url('../img/product05.jpg');
    background-size: cover;
}
.product .pd_bg6{
    background: url('../img/product06.jpg');
}

/* 시공사례 */
.interior{
    background: #f9f9f9;
    padding: 80px 0;
}
.interior h2{
    padding-bottom: 60px;
}
.interior .center button{
    display: none !important;
}
.interior .int_slide .int_box{
    margin: 20px;
}
.interior .more_view{
    padding-top: 30px;
    text-decoration: underline;
}

/* 추가정보 */
.other_info h2{
    padding-bottom: 65px;
}
.other_info .other_cont a{
    display: inline-block;
}
.other_info .other_cont .icon_area{
    background: #8ecf60;
    width: 100px;
    height: 100px;
    padding: 50px;
    border-radius: 50%;
}

/* 블로그 */
.blog {
    background: #f9f9f9;
}
.blog h2{
    padding-bottom: 65px;
}
.blog_go{
    text-align: end;
    margin-right: 15px;
}
.blog .blog_list{
    justify-content: space-between;
}
.blog .blog_list .blog_box{
    padding: 300px 60px 40px;
    margin: 15px;    
}
.blog .blog_list .blog_bg1{
    background: url('../img/blog01.jpg') no-repeat;
    background-size: cover;
}
.blog .blog_list .blog_bg2{
    background: url('../img/blog01.jpg');
    background-size: cover;
}
.blog .blog_list .blog_bg3{
    background: url('../img/blog01.jpg');
    background-size: cover;
}
.blog .blog_list .blog_bg4{
    background: url('../img/blog01.jpg');
    background-size: cover;
}


/* 미디어쿼리 */
@media (max-width:1200px){
    .search-form{
        display: none;
    }
    .main-slide a .con-box .text-wrap{
        width: 100%;
    }
}
@media (max-width:1025px){
    .main-slide .main-pc{
        display: none;
    }
    .main-slide .main-mo{
        display: block;
    }
}
@media (max-width:769px){
    .gnb{
        
        align-items: center;
    }
    .gnb .main-menu{
        display: none;
    }
    .gnb .xi-bars{
        display: block;
        font-size: 2.5rem;
    }
}